body {
    font-family: Roboto, sans-serif;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#header { 
    background-color: dodgerblue;
    width: 100%;
    color:white;
    padding: 16px;
}


#content {
    padding:16px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 16px 0;
    padding: 16px;
    background-color: white;
    filter: drop-shadow(0 0 0.15rem #ccc);
}